* {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  background: #f5f5f5;
}
ul,
li,
th,
td {
  text-align: center;
}
a {
  display: block;
}
.input1 {
  display: block;
  width: 80%;
  padding: 6px 12px;
  font-size: 15px;
  color: #33CA97;
  background: #fff;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.customer {
  width: 73.5%;
  margin: 0 272px;
  background: #fff;
  padding: 20px 30px;
}
.customer h2 {
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: rgba(127, 128, 121, 0.7);
}
.customer-title {
  height: 50px;
}
.search-box > input::placeholder {
  color: rgba(127, 128, 121, 0.7);
}
.search-box input,
.search-box button {
  float: left;
}
.search-box input {
  display: block;
  width: 80%;
  padding: 6px 12px;
  font-size: 15px;
  color: #33CA97;
  background: #fff;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.customer-page-box {
  float: right;
  width: 300px;
}
#page-li > li,
#page-left,
#page-right {
  padding: 6px 12px;
  color: #5BBFDD;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  float: left;
}
.search-box {
  margin-left: 60%;
  margin-bottom: 65px;
}
.modal-form {
  padding: 20px 30px;
}
.modal-form label,
.modal-form input {
  float: left;
}
.modal-form label {
  font-size: 16px;
}
.modal-form input {
  display: block;
  width: 80%;
  padding: 6px 12px;
  font-size: 15px;
  color: #33CA97;
  background: #fff;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
