@import "demo";
.customer{
    width: 73.5%;
    margin: @mar1;
    background: @col1;
    padding: @pad1;
    h2{
        height: @heig3;
        line-height: @heig3;
        font-size: @fon5;
        color: @col9;
    }
}
.customer-title{
    height: @heig3;
}
.search-box>input::placeholder{
    color: @col9;
}
.search-box{
    input,button{
        float: left;
    }
    input{
        .input1();
    }
}
.customer-page-box{
    float: right;
    width: @wid4/3;
}
#page-li>li,#page-left,#page-right{
    padding: 6px 12px;
    color: @col8;
    background: @col1;
    border: 1px solid @col4;
    cursor: pointer;
    float: left;
}
.search-box{
    margin-left: 60%;
    margin-bottom: 65px;
}
.modal-form{
    padding: @pad1;
    label,input{
        float: left;
    }
    label{
        font-size: @fon6;
    }
    input{
        .input1();
    }
}